---
---
@import 'normalize';
@import 'mixin';

html {
  font-size: 16px;
}

body {
  color: #333;
  margin: .8rem;
  line-height: 1.5;
}

a {
  color: #006abb;
}

blockquote {
  border-left: 3px solid #e7e7e7;
  padding: 0 1rem;
  margin: 0;

  p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.highlighter-rouge {
  background: #e7e7e7;
  padding: .1rem .5rem;
  font-size: .8rem;
  border-radius: 5px;
  overflow: auto;
}

@include m-nav;
@include m-motto;
@include m-404;
@include m-posts;
@include m-post;